/* --------------------------------------------------------------
Home
-------------------------------------------------------------- */

.home {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(
        165deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(175, 238, 238, 1) 100%
    ); */
}

.home .content {
    display: flex;
    padding-top: 20vh;
}

.hello {
    & h1 {
        & .emphasis {
            font-weight: 700;
            color: var(--slate);

        }
        font-weight: 400;
    }
    & h2 {
        font-weight: 400;
    }
}