/* --------------------------------------------------------------
List page layout
-------------------------------------------------------------- */

.work {
        & a {
            background: transparent;
            background: linear-gradient(to right, transparent 5%),
                linear-gradient(to right, darkturquoise 5%, transparent 5%);

            &:hover {
                background: var(--slate);
            }
        }

        & h3,
        & p {
            padding: 0 0 0 8%;
            @media screen and (min-width: 600px) {
                padding: 0%;
            }
        }
}