/* --------------------------------------------------------------
Case study pages
-------------------------------------------------------------- */

.case-study .page-header {

    & h2 {
        padding: 0;
    }

    & img {
        width: 100%;
        padding: 2em 0 0;
    }
}

.case-study {

    & h3 {
        padding-top: 1em;
        background: linear-gradient(to top, transparent 12%),
            linear-gradient(to top, darkturquoise 12%, transparent 12%);
    }

    & h4 {
        color: var(--slate);
    }
}
